


/* CONTENT CARD */

.content_card {
    display: flex;
    overflow:hidden;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    transition: 0.05s;
    height: 325px;
    width:90%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
}
.content_card:hover {
    box-shadow: 0.5px 1px 2px 0.5px var(--teaching_color);
}
.content_banner {
    text-align:center;
    font-size:30px;
    background-color:var(--teaching_color);
    font-style: italic;
    width:35px;
    height:101%;
    margin:0;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}
.content_flex {
    display: flex;
    height: 100%;
    width:100%;
    margin: auto;
    border-radius: 5px;
}
.content_block {
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    width: 70%;
}
.content_link {
    margin-bottom: 30px;
    margin-left:5%;
}
.content_link:hover {
    font-weight: bold;
}
.content_link a {
    font-size:30px;
    color:var(--teaching_color);
    text-decoration:none;
    text-transform: uppercase;
}
.content_materials {
    text-indent: 15%;
}
.content_materials:hover {
    font-weight: bold;
}
.content_materials a {
    font-size:30px;
    color:black;
    text-decoration:none;
}
.content_materials hr {
    border: 1px solid black;
    margin: auto;
    margin-left:15%;
    width:40%;
}
.content_video {
    margin-right: 0px;
    border-radius: 5px;
    height:100%;
}


