/* Body Definitions */
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }
:root {
    --sectionColor: grey;
    --sidebarWidth: 200px;
    --homeColor: #A9A9A9;
    --researchColor: #3a4591;
    --teachingColor:#247322;
    --cvColor:#9c892a;
    --elseColor:#9c342a;
    --contactColor:#8c41a6;
    --contactColorActive:#301638;
    }
section {
    background: var(--sectionColor);
    height: 100%;
    right:0;
    left:0;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    }
a {text-decoration: none;
    color: black;
    display: inline-block;
    }
.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    }
/*
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
    .titleWrap {
        display: none;
    }
    .homeLabel, .researchLabel, .teachingLabel, .cvLabel, .contactLabel, .elseLabel {
        display: none;
    }
}
*/


/* Sidebar */
.sideBar {
    height: 100%;
    width: var(--sidebarWidth);
    position: fixed;
    z-index: 1;
    background-color: black;
    }
.sideBarWrap {
    justify-content: space-between;
    width:100%;
    }
.sideBarWrap a {
    width: var(--sidebarWidth);
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    }
.sideBarLine {
    height:1px; 
    background-color:#181818;
    }
.wrapContent {
    flex:1; 
    overflow-y: hidden; 
    height: 100%; 
    position:absolute; 
    left: var(--sidebarWidth);
    }
.sideBarFooter {
    margin:auto; 
    position: absolute; 
    bottom: -10; 
    padding:30; 
    width:100%;
    }
.sideBarFooter div {
     display: flex;
}
.sideBarFooter span {
    font-size:15px; 
    color:white; 
    margin: auto;
    }
.sideBarFooter img {
    height:30px;
}

/* Contact Definitions */
.contactLink:hover {
    background-color: var(--contactColorActive);
    transition: 0.2s;
    }
.contactLinkLabel:hover {
    color: #000;
    transition: 0.2s;
    background-color: var(--contactColor);
    }
.contactLinkElement:hover {
    transition: 0.2s;
    background-color: var(--contactColor);
    color: #FFFFFF;
    font-weight: 900;
    }
.contactBarLine {
    height:1px;
    background-color:#000;
    }

/* Home Definitions */
#home {
    font-size: 36px;
    height: 100%;
    }
.homeLink:hover {
    color: var(--homeColor);
    transition: 0.2s;
    }
.sideBarWrap .homeLink:hover {
  background-color: #000;
    }
.homeActive {
  background-color: #000;
    }
.homeSection div {
    clear: none;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    }
.homeSection b {
    font-size: 46px;
    }
.homeSection img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; 
    height:150%;
    }

/* Research Definitions */
:root {
}
#research {
    height: 100%;
    font-size:30px;
    }
.researchLink:hover {
    color: #000;
    transition: 0.2s;
    }
.researchActive {
    background-color: var(--researchColor);
    border-color: #000;
    }
.sideBarWrap .researchLink:hover {
  background-color: var(--researchColor);
    }
.paperCard {
    display: flex;
    overflow:hidden;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 50%;
    width:80%;
    margin: auto;
    border-radius: 5px;
    /*cursor: pointer;*/
    }
.paperFlex {
    display: flex;
    height: 100%;
    width:97%;
    margin: auto;
    border-radius: 5px;
    }
.paperCard:hover {
    box-shadow: 1px 4px 8px 1px var(--researchColor);
    }
.paperBlock {
    margin: auto;
    margin-left: 0px;
    text-align: left;
    width: 50%;
    padding-left:2%;
    }
.paperBanner {
    text-align:center; 
    font-size:30px;
    background-color:var(--researchColor); 
    width:35px;
    height:101%;
    margin:0;
    color: white;
    writing-mode: tb-rl; 
    transform: rotate(-180deg);
}
.paperBlock a {
    font-weight: bold;
    }
.paperBlock a:hover {
    color:var(--researchColor);
    }
.paperBlock p {
    font-size:20px;
    }
.paperBlock span {
    font-size:20px;
    cursor: pointer;
    }
.paperBlock span:hover {
    font-weight: bold;
    color:var(--researchColor);
    }
.paperBlock p {
    text-indent: 20px;
    }
.paperImage {
    margin: 0px;
    border-radius: 5px;
    height:100%;
    border: 5px solid #555;
    }
.paperImage:hover {
    cursor: pointer;
    border: 5px solid var(--researchColor);
    }
/*
@media (max-width: 1400px) {
    .paperCard {
        height:70%;
        width:90%;
    }
    .paperFlex {
        display:block;
        height:100%;
    }
    .paperBlock {
        padding-top:10px;
        height:30%;
        width:95%;
    }
    .paperImage {
        display: block;
        height:370px;
        max-width:370px;
    }
}
*/

/* Teaching Definitions */
#teaching {
    height: 100%;
    font-size:30px;
    }
.teachingLink:hover {
    color: #000;
    transition: 0.2s;
    }
.teachingActive {
    background-color: var(--teachingColor);
    }
.sideBarWrap .teachingLink:hover {
    background-color: var(--teachingColor);
    }
.classFlex {
    display: flex;
    height: 100%;
    width:97%;
    margin: auto;
    border-radius: 5px;
    }
.classCard {
    display: flex;
    overflow:hidden;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 325px;
    width:80%;
    margin: auto;
    border-radius: 5px;
    /*cursor: pointer;*/
    }
.classCard:hover {
    box-shadow: 1px 4px 8px 1px var(--teachingColor);
    }
.classCard a,span {
    font-size:30px;
    }
.classCard p {
    font-weight: bold;
    }
.classBanner {
    text-align:center;
    font-size:30px;
    background-color:var(--teachingColor); 
    width:35px;
    height:101%;
    margin:0;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    }
.classBlock {
    margin: auto;
    margin-left: 0px;
    text-align: left;
    width: 40%;
    padding-left:2%;
    }
.classVideo {
    margin-right: 0px;
    border-radius: 5px;
    height:100%;
    border: 5px solid #555;
    }
    
/*
@media (max-width: 1400px) {
    .classCard {
        height:70%;
        width:90%;
    }
    .classFlex {
        display:block;
        height:100%;
    }
    .classBlock {
        padding-top:10px;
        height:30%;
        width:95%;
    }
    .videoBlock {
        width: 100%;
    }
}
*/

/* CV Definitions */
#cv {
    height: 100%;
    font-size:30px;
    }
.cvLink:hover {
    color: #000;
    transition: 0.2s;
    }
.sideBarWrap .cvLink:hover {
  background-color: var(--cvColor);
    }
.cvActive {
    background-color: var(--cvColor);
    }
.cvSection div {
    margin: auto;
    width:70%;
    }
.cvWrap div {
    float: left;
    clear: none;
    display: table;
    text-align: left;
    }
.cvSection li {
    text-indent: -1em;
    margin-left:2em;
    }

/* Else Definitions */
#else {
    height: 100%;
    font-size:30px;
    }
.elseLink:hover {
    color: #000;
    transition: 0.2s;
    }
.sideBarWrap .elseLink:hover {
    background-color: var(--elseColor);
    }
.elseActive {
    background-color: var(--elseColor);
    }

/* Responsive layout - makes a one column-layout instead of a two-column layout */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 60%;
}

.flex-item-right {
  padding: 10px;
  flex: 40%;
}