:root {
    --teaching_color:#247322;
}
.present_section {
    height: 100%;
    font-size:30px;
    margin-left: 10%; 
    margin-right: 10%;
    margin-bottom: 0%;
}
.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 50px;
}
.heading hr {
    border: 1px solid black;
    margin: auto; 
    width:90%;
}
div.content {
    color:black;
    margin-left: 250px;
    padding: 20px 20px;
    height: 100%;
    font-size: 28px;
}
.present_card {
    display: flex;
    overflow:hidden;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    transition: 0.05s;
    height: 150px;
    width:60%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
}
.present_card:hover {
    box-shadow: 0.5px 1px 2px 0.5px var(--teaching_color);
    cursor: pointer;
}
.present_flex {
    display: flex;
    height: 100%;
    width:100%;
    margin: auto;
    border-radius: 5px;
}
.present_banner_empty {
    text-align:center;
    font-size:30px;
    background-color:var(--teaching_color);
    color:white;
    font-style: italic;
    width:5px;
    height:101%;
    margin:0;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}
.present_block {
    margin: auto;
    margin-left: 2%;
    margin-right: 5%;
    text-align: left;
    width: 70%;
}
.present_title {
    color:var(--teaching_color);
    text-decoration:none;
    text-transform: uppercase;
}
.present_title:hover {
    font-weight: bold;
    cursor: pointer;
}
.present_image {
    margin: 0px;
    border-radius: 5px;
    height:100%;
    background-color:white;
}
.present_image:hover {
    cursor: pointer;
}