@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 { 
    font-family: Times New Roman}

.reveal {
    font-size: 32px;  /* Adjust this value as needed */
}
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;700&display=swap');

.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 { 
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}
*/

.subheader {
    font-style: italic;
    color: #666;
    font-size: 0.8em;
    transform: translateY(-25px) translateX(40px);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.subheader-center {
    font-style: italic;
    color: #666;
    font-size: 1.2em;
    transform: translateY(-25px);
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}

.small {
  font-size: 0.7em !important;
}

.course-parts {
    line-height: 1.5;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 1;
}

ol {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 1;
}

li {
   margin-bottom: -40px;
   margin-top: -40px;
   font-style: italic;
}

.reveal .footer {
  font-size: 32px !important;;
}

.reveal h2 {
    font-weight: normal;  /* or 400 */
}
.reveal h3 {
    font-weight: normal;  /* or 400 */
}

.reveal blockquote {
  margin-top: -1.0em !important;
  margin-bottom: 2.0em !important;
  line-height: 1 !important;
}

/* Reduce whitespace under Python figures */
.reveal .python-figure,
.reveal div.cell-output-display,
.reveal pre,
.reveal code {
  margin-bottom: 0px !important;  /* Adjust this value as needed */
  margin-top: 0px !important;  /* Adjust this value as needed */
}

/* If you're using code chunks with output */
.reveal .quarto-figure,
.reveal .figure,
.reveal img {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  text-align: center !important;
}

/* Center figure containers */
.reveal .quarto-figure,
.reveal .figure {
  text-align: center !important;
}