:root {
    --sidebar_color: #303030;
    --section_color: #ebebf0;

    --home_color: #A9A9A9;
    --research_color: #3a4591;
    --teaching_color:#247322;
    --cv_color:#9c892a;
    --else_color:#9c342a;
    --contact_color:#8c41a6;
    --background_color:white;
}
body {
    margin: 0;
    color: black;
    background-color: var(--background_color);
    font-family: "Roboto", sans-serif;
}
p {
    margin:0px
}
hr {
    margin-top: 5%;
    margin-bottom: 5%;
}


/* CARD */

.card_block {
    border-left: 2px solid var(--background_color);
    border-right: 2px solid var(--background_color);
    padding-left: 5px;
    margin-left: -5px;
    margin-bottom: 20px;
}
.card_block:hover {
    border-left: 2px solid var(--teaching_color);
    border-right: 2px solid var(--teaching_color);
}
.card_title > .title {
    color:var(--research_color);
    text-decoration:none;
    text-transform: uppercase;
}
.card_title > .dates {
    color:grey;
    font-style:italic;
}
.card_title > .journal {
    color:grey;
    font-style:italic;
}

.coauthors {
    color: grey;
    margin-left: 3%;
    text-indent: -1%;
}
.coauthors a {
    cursor: pointer;
    text-decoration:none;
    color: black;
}
.coauthors a:hover {
    font-weight: bold;
    color:var(--research_color);
    text-decoration:none;
}
.tldr {
    margin-left: 2%;
    text-indent: -1%;
}
.class_materials {
    margin-left: 1%;
}
.class_materials a:hover {
    font-weight: bold;
}
.class_materials a {
    color:black;
    text-decoration:none;
}

