/* BODY */

:root {
    --background_color: #181818; /* #f1f1f1; */
    --section_color: grey;
    --teaching_color: blue;
    --hover_color: rgba(0,0,0,0.5);
}

body, section {
    padding: 0; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background_color);;
    color: white;
    }
a {text-decoration: none;
    color: white;
    display: inline-block;
    }


.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode > a {
    color: grey;
}
.body_table {
    width: 100%; 
    display: table;
}
.body_table > div {
     display: table-row;
}


/* TITLE */

.title {
    font-size: 40px;
    margin-bottom:2%;
    margin-top:2%
}
.subtitle {
    margin-bottom:2%;
    margin-top:2%
}
.lefttitle {
    font-size: 40px;
}


/* LINK/BUTTON STYLE */

div > p {
    font-size: 20px;
}
p > a {
    font-weight: bold;
}
p > a:hover {
    font-weight: bold;
    color: var(--teaching_color);
}
.btn {
    border: none;
    cursor: pointer;
    font-size: 26px;
}
.btn:hover {
    color: var(--teaching_color);
}


/* NAVIGATION */

.content {
    width: 60%; 
    display: table-cell;
}
.content > div {
    margin: 5%;
}
.left_div {
    display: table-cell;
    background: var(--background_color);
    width: auto;
    height:150%;
    margin-right: 0%;
}
.left_div > nav {
    position: fixed;
    top: 0%;
    width: auto;
    height:150%;
    text-align: right;

}
.right_div {
    display: table-cell;
    background: var(--background_color);
    width: auto;
    height:150%;
}
.right_div > nav {
    position: fixed;
    top: 0%;
    width: auto;
    height:150%;
    margin-left: 1%;
}
.active {
    color: blue;
    font-weight: bold;
    font-size:20px;
}


/* LISTS */

ul {
    list-style-type: none;
    overflow: hidden;
}
ul > span {
    font-weight:bold;
    margin-top:5%;
    margin-bottom:2%;
    font-size:36px;
    display: block;
}
li a {
  display: block;
  padding: 4px 4px;
}
li a.active {
  color: blue;
}
li a:hover {
  color: grey;
}


/* CONTENT */

.vl {
  border-left: 6px solid green;
  height: 50px;
}

p {
    border-left: 2px solid var(--background_color);
    padding-left: 5px;
    margin-left: -5px;
}
p:hover {
    border-left: 2px solid var(--teaching_color);
}