/* BODY */

@import url('source-sans-pro.css');

body {
    /*

    */
    font-family: 'Roboto', sans-serif; font-weight: 100;
    font-family: 'Open Dyslexic', sans-serif;

    font-family: 'Roboto Slab', serif; font-weight: 100;

    font-weight: 100
  }

:root {
    --background_color: #181818; /* #f1f1f1; */
    --section_color: grey;
    --teaching_color: blue;
    --hover_color: rgba(0,0,0,0.5);
}

body, section {
    padding: 0; 
    margin: 0;
    background: var(--background_color);;
    color: white;
    }
a {text-decoration: none;
    color: white;
    display: inline-block;
    }


.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode > a {
    color: grey;
}
.body_table {
    width: 100%; 
    display: table;
}
.body_table > div {
     display: table-row;
}


/* TITLE */

.title {
    font-size: 40px;
    margin-bottom:2%;
    margin-top:2%
}
.subtitle {
    margin-top:2%;
    margin-bottom: 0px;
}
.sub_description {
    margin-top:0px
}
.lefttitle {
    font-size: 40px;
}


/* LINK/BUTTON STYLE */

div > p {
    font-size: 20px;
}
p > a {
    font-weight: bold;
}
p > a:hover {
    font-weight: bold;
    color: var(--teaching_color);
}
.btn {
    border: none;
    cursor: pointer;
    font-size: 26px;
}
.btn:hover {
    color: var(--teaching_color);
}

/* NAVIGATION */

.content {
    width: 60%; 
    display: table-cell;
}
.content > div {
    margin: 5%;
}
.left_div {
    display: table-cell;
    background: var(--background_color);
    width: auto;
    height:150%;
    margin-right: 0%;
}
.left_div > nav {
    position: fixed;
    top: 0%;
    width: auto;
    height:150%;
    text-align: right;
}
.right_div {
    display: table-cell;
    background: var(--background_color);
    width: auto;
    height:150%;
}
.right_div > nav {
    position: fixed;
    top: 0%;
    width: auto;
    height:150%;
    margin-left: 1%;
}
.active {
    color: blue;
    font-weight: bold;
    font-size:20px;
}

@media screen and (max-width: 1000px) {
    .right_div {
        display: none;
    }
    .left_div {
        display: none;
    }
}

.video_wrap iframe {
    width: 500px; /* Set your desired width */
    height: 315px; /* Set your desired height */
    border-radius: 15px; /* Adjust the value as needed */
    overflow: hidden; /* Ensures corners are actually rounded */
    border: none; /* Removes the frame border */
}

.rounded-box {
    border: 2px solid #333;
    border-radius: 15px;
    padding: 1em;
    width: 100%;
    max-width: 100%;
    background-color: black;
    transition: background-color 0.2s, border-color 0.2s;
    margin: 5px 0;
    box-sizing: border-box;
    color: white;
    overflow-x: auto; /* Add horizontal scroll if content overflows */
}

/* Add this media query for smaller screens */
@media screen and (max-width: 768px) {
    .rounded-box {
        padding: 0.5em;
    }
}
.rounded-box > h2 {
    margin-top: 0px;
}
.rounded-box:hover {
        background-color: #181818; /* Background color on hover */
}
.rounded-box > div {
    margin-bottom: 0px;

}

/* LISTS */

ul {
    list-style-type: none;
    overflow: hidden;
}
ul > span {
    font-weight:bold;
    margin-top:5%;
    margin-bottom:2%;
    font-size:36px;
    display: block;
}
li a {
  display: block;
  padding: 4px 4px;
}
li a.active {
  color: blue;
}
li a:hover {
  color: grey;
}


/* CONTENT */

.vl {
  border-left: 6px solid green;
  height: 50px;
}

p {
    border-left: 2px solid var(--background_color);
    padding-left: 5px;
    margin-left: -5px;
    text-align: justify;
}
p:hover {
    border-left: 2px solid var(--teaching_color);
}

.rounded-box p {
    border-left: 0px solid var(--background_color);
    padding-left: 10px;
    margin-left: 10px;
}
.rounded-box p:hover {
    border-left: 0px solid var(--background_color);
    padding-left: 10px;
    margin-left: 10px;}

.content-video {
    float: right;
    width: 50%;
    max-width: 500px;
    margin-left: 20px;
}

.video-container {
    display: flex;
    align-items: flex-start;
}

.video-text {
    flex: 1;
}

/* Clear floats after video containers */
.rounded-box::after {
    content: "";
    display: table;
    clear: both;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rounded-box {
    flex: 0 1 calc(50% - 20px); /* Subtract margins */
    margin: 10px;
    padding: 1em;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    overflow: hidden; /* Prevent content from overflowing */
}

.video-text {
    margin-bottom: 10px;
}

.content-video {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Maintains 16:9 aspect ratio */
}

/* For smaller screens, stack the boxes vertically */
@media screen and (max-width: 768px) {
    .rounded-box {
        flex: 0 1 100%;
    }
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: -10;
    width: 100%;
    height: 100%;
}

.video-container iframe {
    border-radius: 15px; /* Adjust the value as needed */
    overflow: hidden; /* Ensures corners are actually rounded */
}

.rounded-box {
    border: 2px solid #333;
    border-radius: 15px;
    padding: 1em 2em 1em 2em; /* Remove bottom padding */
    width: 96%;
    max-width: 800px; /* Adjust as needed */
    background-color: black;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Center the box */
    margin-bottom: 20px;
}

.rounded-box h2 {
    margin-top: -0.2em;
    margin-bottom: 0.5em;
    margin-left: -0.5em;
    text-align: left;
}

.rounded-box h3 {
    margin-left: -0.2em;
    margin-top: -.5em;
    margin-bottom: 0em;
    font-style: italic;
}

.rounded-box h4 {
    margin-left: -0.2em;
    margin-top: -20px;
}

.video-container {
    position: relative;
    width: calc(100% + 2em);
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    margin-top: 1em;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rounded-box-textbook {
    border: 2px solid #333;
    border-radius: 15px;
    padding: 1em 1em 1em 1em; /* Remove bottom padding */
    width: 96%;
    max-width: 800px; /* Adjust as needed */
    background-color: black;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Center the box */
    margin-bottom: 20px;
}

.rounded-box-textbook h2 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    text-align: left;
}

.rounded-box-textbook a:hover {
    color: grey;
}

.rounded-box-textbook:hover {
    background-color: #181818; /* Background color on hover */
}

.rounded-box-textbook h3 {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}