/* BODY */
@import url('source-sans-pro.css');

body {
    /*

    */
    font-family: 'Roboto', sans-serif; font-weight: 100;
    font-family: 'Open Dyslexic', sans-serif;

    font-family: 'Roboto Slab', serif; font-weight: 100;

    font-weight: 100
  }

:root {
    --background_color: #181818; /* #f1f1f1; */
    --section_color: grey;
    --teaching_color: blue;
    --hover_color: rgba(0,0,0,0.5);
}

body, section {
    padding: 0; 
    margin: 0;
    background: var(--background_color);;
    color: white;
    }
a {text-decoration: none;
    color: white;
    display: inline-block;
    }

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode > a {
    color: grey;
}
.body_table {
    width: 100%; 
    display: table;
}
.body_table > div {
     display: table-row;
}


/* TITLE */

.title {
    font-size: 40px;
    margin-bottom:2%;
    margin-top:2%
}
.subtitle {
    margin-top:2%;
    margin-bottom: 0px;
}
.lefttitle {
    font-size: 40px;
}


/* LINK/BUTTON STYLE */

div > p {
    font-size: 20px;
}
p > a {
    font-weight: bold;
}
p > a:hover {
    font-weight: bold;
    color: var(--teaching_color);
}
.btn {
    border: none;
    cursor: pointer;
}
.btn:hover {
    color: var(--teaching_color);
}

.title-link {
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}


/* NAVIGATION */

.content {
    width: 60%; 
    display: table-cell;
}
.content > div {
    margin: 5%;
}
.left_div {
    display: table-cell;
    background: var(--background_color);
    width: auto;
    height:150%;
    margin-right: 0%;
}
.left_div > nav {
    position: fixed;
    top: 0%;
    width: auto;
    height:150%;
    text-align: right;
}
.right_div {
    display: table-cell;
    background: var(--background_color);
    width: auto;
    height:150%;
}
.right_div > nav {
    position: fixed;
    top: 0%;
    width: auto;
    height:150%;
    margin-left: 1%;
}
.active {
    color: blue;
    font-weight: bold;
    font-size:20px;
}

@media screen and (max-width: 1000px) {
    .right_div {
        display: none;
    }
    .left_div {
        display: none;
    }
}

.video_wrap {
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    transform: translateZ(0); /* Forces hardware acceleration */
    backface-visibility: hidden; /* Reduces flickering */
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video_wrap > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
}

.rounded-box {
    border: 2px solid #333;        /* Border color and thickness */
    border-radius: 15px;           /* Rounded corners */
    padding: 1em;                  /* Padding that scales with the text */
    width: 100%;                   /* Ensure it fills the full width of the parent */
    background-color: black;       /* Optional: Background color */
    transition: background-color 0.2s, border-color 0.2s; /* Smooth transition */
    margin: 15px 0;                 /* Vertical margins, no horizontal margin */
    box-sizing: border-box;        /* Include padding and border in width calculation */
    color: white;                  /* Text color inside the box */
}
.rounded-box > p {
    border-left: 0px solid var(--background_color);
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: -10px;
    font-style: italic;
}
.rounded-box > h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.rounded-box > p:hover {
    border-left: 0px solid var(--background_color);
}
.rounded-box:hover {
        background-color: #181818; /* Background color on hover */
}

.rounded-box h2 {
    margin-bottom: 0.2em;
}

.rounded-box h3 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
}
.rounded-box > h4 {
    border-left: 0px solid var(--background_color);
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: italic;
    font-size: 16px;
}

/* LISTS */

ul {
    list-style-type: none;
    overflow: hidden;
}
ul > a > span {
    font-weight:bold;
    margin-top:5%;
    margin-bottom:-15%;
    font-size:36px;
    display: block;
}
ul > a:hover {
    color:grey;
}
ul > span {
    font-weight:bold;
    margin-top:5%;
    margin-bottom:2%;
    font-size:36px;
    display: block;
}
li a {
  display: block;
  padding: 4px 4px;
}
li a.active {
  color: blue;
}
li a:hover {
  color: grey;
}


/* CONTENT */

.vl {
  border-left: 6px solid green;
  height: 50px;
}

p {
    border-left: 2px solid var(--background_color);
    padding-left: 5px;
    margin-left: -5px;
}
p:hover {
    border-left: 2px solid var(--teaching_color);
}

p > span {
    margin-left:10px; 
    margin-right: 10px;
}


.sub_description {
    margin-top:0px
}

.subtitle_description {
    margin-top:-5px;
    padding-left: 20px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;  /* Lighter color and thinner line */
    margin: 15px 0;
}